<!-- templates/_base.html -->
{% load static %}

{% load cart_template_tags %}

<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Ahoronn{% endblock title %}</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/105005222e.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'style/style.css' %}">
<link rel="stylesheet" href="{% static 'style/profile.css' %}">


</head>
<body>







        <nav class="navbar navbar-expand-lg navbar-light bg-success navbar-fixed-top  rounded" style="margin: 20px;">
            <div class="container-fluid">
              <a class="navbar-brand extra_nav"  href="{% url 'catalog:home' %}" >AHORONN</a>

              <div class="collapse navbar-collapse text-center extra_nav_search" id="navbarTogglerDemo03">

                <form class="d-flex " action="{% url 'search_result' %}">
                  <!-- <input class="form-control rounded-pill searchBox" id="" type="search" placeholder="Search"  aria-label="Search" > -->
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                  <button class="btn btn-outline-info  m-2 my-sm-0" type="submit">Search</button>
                </form>

              </div>


                <a href="{% url 'order:order-summary' %}" class="nav-link waves-effect">


               <i class="item fas fa-shopping-cart co" style="margin-right:5px;font-size:28px;color:rgb(193, 247, 68)"><sup class="text-info " id="countity">{{ request.user|cart_item_count }} </sup></i>
                 </a>



                {% if user.is_authenticated %}
                    <a  href="{% url 'customer:profile' %}" class="text-white me-5"><i class="fa fa-user"></i></a>
                    <a  href="{% url 'account_logout' %}" class="text-white me-5">LOGOUT</a>
                {% else %}
                    <a  href="{% url 'account_login' %}" class="text-white me-5">LOGIN</a>
                    <a  href="{% url 'account_signup' %}" class="text-white me-5">SIGNUP</a>
                {% endif %}
            </div>
        </nav>












{% block content %}
{% endblock content %}




     <!-- footer section  -->
                 <footer class="m-5 d-flex justify-content-around rounded backGround">
                    <div class="">
                        <h4>Information</h4>
                        <p href="">About Us</p>
                        <p href="">Privacy Policy</p>
                        <p href="">Terms and Condition</p>
                        <p href="">Return and Refer policy</p>
                    </div>
                    <div>
                        <h4>USEFUL LINK</h4>
                        <p href="">FAQ</p>
                        <p href="">Account</p>
                        <p href="">Medicine</p>
                        <p href="">Specail Offer</p>
                    </div>
                    <div>
                        <h4>Conatct Us</h4>
                        <p href="">Address: 63/1, DIT Road</p>
                        <p href="">Malibagh,</p>
                        <p href="">Word-19, Dhaka 1217</p>
                        <p href="">Hot Line: 01810-117100</p>
                        <!-- <p>socail media link :</p> -->
                        <!-- <div>
                            <i class="fas fa-facebook-f bg-succes"></i>
                        </div> -->
                    </div>
                    <div>
                        <h4>Download our app</h4>
                        <div class="">
                            <a href="" class="w-25 h-25 mt-5">
                                <img src="{% static 'images/google-play-badge.png' %} " alt="" >
                            </a>
                            <a href="" class="w-25 h-25 mt-5"><img src=" {% static 'images/apple-store-badge.png' %}" alt="" >
                            </a>
                        </div>
                    </div>

                 </footer>





<!-- JavaScript -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
