
{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}




    <h1>Details Page</h1>

<div class="container">
    <h2>{{ madicine.trade_name }}</h2>
    <div class="row">
        <div class="col-md-6"><img src="{{ madicine.image.url }}" alt="My image" width="400"></div>
        <div class="col-md-6">
             <a href="{{ madicine.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
            </a>
            <br>
            <br>
            <br>
            <p>{{ madicine.description }}</p>
        </div>
    </div>
</div>







{% comment %}
<a href="{{ madicine.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
  Remove from cart
</a>
{% endcomment %}






{% comment %}

{%  for m in feedbacks %}
        <div class="card">
          <div class="card-body">

            {{ m.feedback_content  }}
          </div>
        </div>
{% endfor %}

{% endcomment %}


<br>
<br>
<br>
<br>

{%  for m in feedbacks %}
        <h1 class="font-weight-bold">FeedBack</h1>
        <div class="card text-center">

          <div class="card-body">
            <p class="card-text"> {{ m.feedback_content  }}</p>

          </div>
          <div class="card-footer text-muted">
            {{ m.datetime  }}
          </div>
        </div>
{% endfor %}







{% endblock content %}